.list-container{
	background:lightyellow;
	width: 350px;
	padding: 6px;
	margin: 5px;
	display: inline-block;
	.cross-btn{
		float: right;
	}
}
.list {
	
}
.list__title {
	margin: 0;
	padding: 16px 0;
	border-bottom: 2px solid;
}

